{%capture body%}在页面<{{site.url}}{{page.url}}>发现错误。
错误是：{%endcapture%}
<footer class="site-footer">
  <p><strong>氷河日本語</strong> · 把日语学习变成每天的小习惯。</p>
  <p>由 <a href="https://github.com/wizicer">wizicer</a> 开源维护 · <a href="https://github.com/wizicer/LearnJapan/issues/new?title={{page.title}}页面发现错误&body={{body | cgi_escape}}&assignee={{site.github_username}}&labels[]=content">反馈内容问题</a></p>
</footer>
{% if site.la51_analytics %}
<div style="display:none;">
    <script language="javascript" type="text/javascript" src="http://js.users.51.la/{{site.la51_analytics}}.js">
    </script>
</div>
{% endif %}

